<div class="comment-container">
        <div class="comment-user">
            <img class="comment-img" src="/avatars/{{user.avatar}}">
        </div>   
        <div class="comment-body">
            <div class="author"><a class="a-link" href="/profile/{{user._id}}">{{user.username}}</a>
                <span class="userCreditScoree" style="margin-left: 1px;">({{user.creditScore}} pts)</span>
            </div>
            <p>{{comment}}</p>
        </div>
</div>