 <ul class="timeline">
    <li class="timeline-inverted">
        <div class="{{timelineBadge}}">{{{uniBadge}}}</div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                {{!-- <div class="postNum">{{postNumber}}</div> --}}
                <h4 class="timeline-title">
                    <a href="/indivPost?_id={{_id}}&DisplayName={{User}}" style="color: rgb(78, 73, 73);">{{postTitle}}</a>
                </h4>
                <div class ="dropdown">
                    <img src="/img/option.png" style="height: 20px; width: 23px; padding-right: 5px;" id="option1" title="Option">
                    <div class="dropdown-content">
                        <a href="#">Save Post</a>
                        <a href="#">Share</a>
                    </div>
                </div>
            </div>
            <span class="timeline-author">
                <div class="author">  
                    <a class="a-link" href="/profile/{{Username}}">By: {{Username}}</a>
                </div>
                <div class="userCreditScoree">({{CreditScore}} pts)</div>
            </span>
            <div class="timeline-body">
                <p>{{postBody}}</p>
            </div>
            <div class="userTagss" title="Tags">
                <span>
                    <a class="a-link" href="indivpost.html">Tags: {{postTags}}</a>
                </span>
            </div>
            <hr>
            <div class="userbuttonscontainerr">
                <p class ="upvotecountt" id="upvotecount" title="Upvote Count">{{Upvotes}} upvotes</p>
                    {{!-- <p id="counter"></p>--}}
                <img src="/img/{{Upvote}}" id="upvote" title="Upvote" class="upvote">
                <img src="/img/{{Downvote}}" id="downvote" title="Downvote" class="downvote">
                {{!-- <a href="/indivPost?_id={{_id}}&DisplayName={{User}}" > --}}
                <img src="/img/comment.png" style="height: 43px; width: 47px; margin-left: -3px;" id="comment" class="comment" title="Comment">
            </div>
            <div id="p_id">
                <p id="pid" style="visibility: hidden; margin-top: -10px">{{_id}}</p>
                <p id="uid" style="visibility: hidden; margin-top: -30px">{{User}}</p>
            </div>
        </div>
    </li>
    {{!-- {{#each userComments}}
        {{>commentBar DisplayPicture = image}}
    {{/each}} --}}
</ul>