<div class="col-sm-2 sidenav">
    <div class="content-sidenav">
        <a href="/HOME?Username={{Username}}"><img class="img-circle" src="/img/{{DisplayPicture}}"/> </a>
            <div class="rank-label-container">
                <span class="label label-default rank-label" title="Credit Score">{{CreditScore}} pts</span>
            </div>
        <p class="p-name">{{fName}} {{lName}}</p>
    </div>
</div>