<!DOCTYPE html>

<head>
    <title>{{post.title}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style1.css">
    <link rel="stylesheet" type="text/css" href="/css/homepagestyle.css">
    <link rel="icon" href="/img/logo.png">
    <script src="https://kit.fontawesome.com/080b1bc218.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/js/indivpost.js" type="text/javascript"></script>
    <script src="/js/votes.js" type="text/javascript"></script>
</head>

<body>
    {{>header userid = active_user }}
    <div class="container-fluid text-center">
        <div class="row content">
             <div class="col-sm-2 sidenav" id="sideprofile" style="margin-left: -20px;">
                    {{>sideProfile fName = user.fName lName = user.lName CreditScore = user.creditScore DisplayName = user.username DisplayPicture = user.avatar userid = user._id}}
                </div>
            <div class="center-post">
                <div class="col-sm-8 text-left">
                    {{!-- {{#each posts}} --}}
                            {{!-- {{#if postNumber}} --}}
                            <ul class="timeline">
                                <li class="timeline-inverted">
                                     {{#match post.university 'ADMU'}}
                                        <div class="timeline-badge ateneo">&#x1f985</div>
                                    {{/match}}
                                    {{#match post.university 'DLSU'}}
                                        <div class="timeline-badge lasalle">&#127993</div>
                                    {{/match}}
                                    {{#match post.university 'UP'}}
                                        <div class="timeline-badge up">&#9994</div>
                                    {{/match}}
                                    {{#match post.university 'UST'}}
                                        <div class="timeline-badge ust">&#128047</div>
                                    {{/match}}
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            {{!-- <div class="postNum">{{postNumber}}</div> --}}
                                            <h4 class="timeline-title">
                                                <p style="color: rgb(78, 73, 73); margin-bottom: -20px;">{{post.title}}</p>
                                            </h4>
                                            <div class ="dropdown">
                                                <img src="/img/option.png" style="height: 20px; width: 23px; padding-right: 5px;" id="option1" title="Option">
                                                <div class="dropdown-content">
                                                     {{#match post.user._id active_user}}
                                                        {{!-- <a href="#">Save Post</a>
                                                        <a href="/post/delete/{{post._id}}">Delete Post</a>
                                                        {{else}}
                                                        <a href="#">Save Post</a> --}}
                                                        {{#checkSaved post._id saved}}
                                                            {{!-- <a href="/post/unsave/{{post._id}}" id="unsave/{{post._id}}">Unsave Post</a> --}}
                                                            <a id="unsave/{{post._id}}" class="unsave">Unsave Post</a>
                                                            <a id="save/{{post._id}}" class="save" style="display: none">Save Post</a>
                                                        {{else}}
                                                            {{!-- <a href="/post/save/{{post._id}}" id="save/{{post._id}}">Save Post</a> --}}
                                                            <a id="unsave/{{post._id}}" class="unsave" style="display: none">Unsave Post</a>
                                                            <a id="save/{{post._id}}" class="save">Save Post</a>
                                                        {{/checkSaved}}
                                                            <a href="/post/delete/{{post._id}}">Delete Post</a>
                                                    {{else}}
                                                        {{#checkSaved post._id saved}}
                                                        {{!-- <a href="/post/unsave/{{post._id}}" id="unsave/{{post._id}}">Unsave Post</a> --}}
                                                        <a id="unsave/{{post._id}}" class="unsave">Unsave Post</a>
                                                        <a id="save/{{post._id}}" class="save" style="display: none">Save Post</a>
                                                        {{else}}
                                                        {{!-- <a href="/post/save/{{post._id}}" id="save/{{post._id}}">Save Post</a> --}}
                                                        <a id="unsave/{{post._id}}" class="unsave" style="display: none">Unsave Post</a>
                                                        <a id="save/{{post._id}}" class="save">Save Post</a>
                                                        {{/checkSaved}}
                                                    {{/match}}
                                                </div>
                                            </div>
                                        </div>
                                        <span class="timeline-author">
                                            <div class="author">  
                                                <a class="a-link" href="/userid/{{post.user._id}}" target="_blank">By: {{post.user.username}}</a>
                                            </div>
                                            <div class="userCreditScoree">({{post.user.creditScore}} pts)</div>
                                        </span>
                                        <div class="timeline-body">
                                            <p>{{post.body}}</p>
                                        </div>
                                        <div class="userTagss" title="Tags">
                                            <span>
                                                <a class="a-link" href="indivpost.html">Tags: {{post.tags}}</a>
                                            </span>
                                        </div>
                                        <hr>
                                        <div class="userbuttonscontainerr">
                                            <p class ="upvotecountt" id="upvotecount" title="Upvote Count">{{post.upvote}} upvotes, <span>{{post.downvote}} downvotes</p>
                                                {{!-- <p id="counter"></p>                 --}}
                                            <img src="/img/upvote.png" id="upvote" title="Upvote" class="upvote">
                                            <img src="/img/downvote.png" id="downvote" title="Downvote" class="downvote">
                                            <img src="/img/comment.png" style="height: 43px; width: 47px; margin-left: -3px;" id="comment" class="comment" title="Comment">
                                        </div>
                                        <div id="p_id">
                                            <p id="pid" style="visibility: hidden; margin-top: -30px">{{post._id}}</p>
                                            {{!-- <p id="uid" style="visibility: hidden; margin-top: -30px">{{post.user._id}}</p> --}}
                                         </div>
                                    </div>
                                </li>
                                <li class="timeline-inverted">
                                    <div class="timeline-panel">
                                        <div id="displayComment">
                                            {{#each comments}}
                                                {{#if PostID}}
                                                    {{>commentCard}}
                                                {{/if}}
                                            {{/each}}
                                        </div>
                                    {{!-- {{>commentBar DisplayPicture = image name = username CreditScore = cs id = id}} --}}
                                    </div>
                                </li>
                            </ul>
                            {{!-- {{/if}} --}}
                        {{!-- {{/each}} --}}
                </div>
            </div>
            {{>trending}}
        </div>
    </div>
</body>
</html>
