<!DOCTYPE html>

    <head>
        <title>{{TimelineTitle}}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/style1.css">
        <link rel="stylesheet" type="text/css" href="css/homepagestyle.css">
        <link rel="icon" href="img/logo.png">
        <script src="https://kit.fontawesome.com/080b1bc218.js" crossorigin="anonymous"></script>

        <script type="text/javascript">
            function toggleUpvote(sender){
                    var uvoted = document.createElement("img");
                    uvoted.src = "upvoted.png";
                    var dvoted = document.createElement("img");
                    dvoted.src = "downvoted.png";

                    var image = document.getElementById(sender.id);
                    var nimage = document.getElementById(image.nextElementSibling.id);
                    
                    if(image.src != uvoted.src){
                        if(nimage.src == dvoted.src){
                            nimage.src = "downvote.png";
                            image.src = 'upvoted.png';
                        }
                        else{
                            image.src = 'upvoted.png';
                        }
                    }
                    else if(image.src == uvoted.src){
                        image.src = 'upvote.png';
                    }
                }; 

                function toggleDownvote(sender){
                    var uvoted = document.createElement("img");
                    uvoted.src = "upvoted.png";
                    var dvoted = document.createElement("img");
                    dvoted.src = "downvoted.png";

                    var image = document.getElementById(sender.id);
                    var pimage = document.getElementById(image.previousElementSibling.id);
                
                    if(image.src != dvoted.src){
                        if(pimage.src == uvoted.src){
                            pimage.src = "upvote.png";
                            image.src = 'downvoted.png';
                        }
                        else{
                            image.src = 'downvoted.png';
                        }
                    }
                    else if(image.src == dvoted.src){
                        image.src = 'downvote.png';
                    }
                }
        </script>
    </head>

    <body>
        {{>header}}


        <div class="container-fluid text-center">
            <div class="row content line-nav">
                <div class="col-sm-2 sidenav">
                    {{>sideProfile}}
                </div>
                <div class="center-post">
                    <div class="col-sm-8 text-left">
                        {{>CreatePost}}
                        
                        <hr>

                        <ul class="timeline">
                            <li class="timeline-inverted">
                                <div class="timeline-badge lasalle">&#127993</div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <div class="postNum">{{postNumber}}</div>
                                        <h4 class="timeline-title">
                                            <a href="indivpost.html" style="color: rgb(78, 73, 73);">{{postTitle}}</a>
                                        </h4>
                                        <div class ="dropdown">
                                            <img src="img/option.png" style="height: 20px; width: 23px; padding-right: 5px;" id="option1" title="Option">
                                            <div class="dropdown-content">
                                                <a href="#">Save Post</a>
                                                <a href="#">Share</a>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="timeline-author">
                                        <div class="author"> By: {{Username}} </div>
                                        <div class="userCreditScoree">({{CreditScore}})</div>
                                    </span>
                                    <div class="timeline-body">
                                        <p>{{postBody}}</p>
                                    </div>
                                    <div class="userTagss" title="Tags">
                                        <span>Tags: {{postTags}}</span>
                                    </div>
                                    <hr>
                                    <div class="userbuttonscontainerr">
                                        <div class="upvotecountt" title="Upvote Count"><p>{{Upvotes}}</p></div>                    
                                        <div class="upvote"><img src="img/upvote.png" id="upvote1" onclick="toggleUpvote(this)" title="Upvote"></div>
                                        <div class="downvote"><img src="img/downvote.png" id="downvote1" onclick="toggleDownvote(this)" title="Downvote"></div>
                                        <div class="comment"> <img src="img/comment.png" style="height: 48px; width: 47px; margin-left: -3px;" id="comment1" title="Comment"></div>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="col-sm-2 left-bar">
                    <div class="trendingbox">
                        <div class="card">
                            <img src="img/logo.png" class="card-img-top" alt="..." width="100px" style="margin-top: 20px;">
                        </div>
                        <div class="trendingname">What's Trending?</div>
                        <div class="trendingcontent"><li>#NoClasses</li></div>
                        <div class="trendingcontent"><li>#BagyongJigs</li></div>
                        <div class="trendingcontent"><li>#LazadaSale</li></div>
                        <div class="trendingcontent"><li>#KwatroSaAppDev</li></div>
                        <div class="trendingcontent"><li>#SirArren</li></div>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>